#image_body {
    width: 100%;
    height: 70%;
}


#description_and_input {
    bottom: 0px;
    color: rgb(9, 109, 29);
    position: relative;
}

@font-face {
    font-family: pixel-font;
    src: url(slkscr.ttf);
}

#description {
    max-width: 100%;
    height: 20%;
    border:solid rgb(199, 169, 255) 2px;
    background-color: #0f0e0e;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    font-size: 25px;
    font-family: pixel-font;
    padding-left: 20px;
    padding-right: 20px;
}

#input_field {
    width: 100%;
    height: 60px;
    min-height: 60;
    background-color: #0f0e0e;
    color: rgb(28, 118, 38);
    margin: auto;
    font-size: 20px;
    display: inline;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    font-family: pixel-font;
    border: solid rgb(199, 169, 255) 2px;
}

p.greater_than {
    display:inline; 
    position: absolute; 
    font-size: 20px; 
    left:10px;
    font-family: Lucida Console;
    bottom: 2px;
    font-family: pixel-font;
}


body {
    padding: 100px;
    background-color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    bottom: 5px;
    bottom:10%;
}


p.description_test {
    padding-bottom: 5px
}
