<html>


    <head><link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}"> <link href="https://fonts.cdnfonts.com/css/common-pixel" rel="stylesheet"></head>

    <body>
        <div id = 'image_body'>
            <canvas id="canvas"></canvas> <!-- this is where all images will be displayed-->
        </div>


        <div id="description_and_input">
        <div id="description"><p">>This is a description</p></div>
            <div>
                
                <div id = "input_section">
                    <p class="greater_than">></p>
                    <form>
                        <input id="input_field">
                        <input type="submit" id="submit" value="^">
                    </form>
                </div>
            </div>
        </div>
        
        <script src="/static/image.js"></script>
    </body>

</html>